In [16]:
import pandas as pd
import json
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
from datetime import date, timedelta, datetime
import time
df=pd.read_csv("DDD.csv")

In [17]:
df

   Code IMP_codes
0   AGR       DEL
1   DIB       BOM
2   HYD       BLR
3   BHJ       HYD
4   HBX       MAA
..  ...       ...
79  IXS       NaN
80  CNN       NaN
81  GOI       NaN
82  AMD       NaN
83  TIR       NaN

[84 rows x 2 columns]

In [18]:
df["IMP_codes"].iloc[1]

'BOM'

In [ ]:
from tqdm import tqdm
price=[]
cities=[]
departure_time=[]
arrival_time=[]
via=[]
airline=[]
driver = webdriver.Chrome("C:/chromedriver.exe")
for z in range(15,31):
    for m in range(5):
        for n in range(30):
            if df["IMP_codes"].iloc[m]!=df["IMP_codes"].iloc[n]:
                print("source=",m, "destination=",n, "Dates=",z)
                print(df["IMP_codes"].iloc[m],df["IMP_codes"].iloc[n])
                url="https://www.makemytrip.com/flight/search?itinerary="+df["IMP_codes"].iloc[m]+"-"+df["IMP_codes"].iloc[n]+"-"+str(z)+"/04/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng"
                #driver = webdriver.Chrome("C:/chromedriver.exe")
                driver.get(url)
                soup=BeautifulSoup(driver.page_source, 'lxml')

                price_info=soup.find_all('p',attrs={'class': 'blackText fontSize18 blackFont'})
                flights_info=soup.find_all('p',attrs={'class': 'flightDetailsHead'})
                time_info=soup.find_all('p',attrs={'class':"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})
                layover_info=soup.find_all('p',attrs={'class': 'flightsLayoverInfo'})
                airline_info=soup.find_all('span',attrs={'class': 'boldFont blackText airlineName'})

#price_info
                for i in price_info:
                    a=str(i)
                    price.append(a[-9:-4])

    #flights_info
                for i in flights_info:
                    k=str(i)
                    if len(k)>45:
                        cities.append(k[29:(len(k)-4)])

    #time_info
                for i,j in enumerate(time_info):
                    k=str(j)
                    if (i%2==0):
                        departure_time.append(k[82:87])
                    else:
                        arrival_time.append(k[82:87])

    #layover_info
                for i in layover_info:
                    k=str(i)
                    via.append(k[30:len(k)-4])

    #airline_info
                for i,j in enumerate(airline_info):
                    k=str(j)
                    airline.append(k[45:len(k)-7])

source= 0 destination= 1 Dates= 15
DEL BOM
source= 0 destination= 2 Dates= 15
DEL BLR

In [12]:
data = pd.DataFrame(
    {'Price':price,
     'Cities':cities,
     'departure_time':departure_time,
     'arrival_time':arrival_time, 
     'layeover':via,
     'Airline':airline
    })

In [15]:
data.to_csv(".csv")

,Price,Cities,departure_time,arrival_time,layeover,Airline
0,"3,248","Agra to Dibrugarh , 15 Apr",14:05,08:10,"2 stop via Bengaluru,New Delhi",IndiGo
1,"3,248","Agra to Dibrugarh , 15 Apr",14:05,08:10,"2 stop via Bengaluru,New Delhi",IndiGo
2,"5,277","Agra to Dibrugarh , 15 Apr",14:05,07:10,"2 stop via Bengaluru,Kolkata",IndiGo
3,"5,477","Agra to Dibrugarh , 15 Apr",14:05,07:10,"2 stop via Bengaluru,Kolkata",IndiGo
4,"6,077","Agra to Dibrugarh , 15 Apr",14:05,07:10,"2 stop via Bengaluru,Kolkata",IndiGo

In [ ]:
print(len(price),len(cities),len(departure_time),len(arrival_time),len(via),len(airline))

In [ ]:
cities

In [ ]:
soup.find_all('p')

In [ ]:
for i in codes["Code"]:
    for j in codes["Code"]:
        print(i,j)

In [ ]:
price_info=soup.find_all('p',attrs={'class': 'blackText fontSize18 blackFont'})

In [ ]:
price=[]
for i in p:
    a=str(i)
    price.append(a[-9:-4])
len(price)

In [ ]:
flights_info=soup.find_all('p',attrs={'class': 'flightDetailsHead'})
cities=[]
k=0
for i in flights_info:
    k=str(i)
    if len(k)>45:
        cities.append(k[29:(len(k)-4)])

In [ ]:
cities

In [ ]:
time_info=soup.find_all('p',attrs={'class':"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})
departure_time=[]
arrival_time=[]

for i,j in enumerate(b):
    k=str(j)
    if (i%2==0):
        departure_time.append(k[82:87])
    else:
        arrival_time.append(k[82:87])

In [ ]:
layover_info=soup.find_all('p',attrs={'class': 'flightsLayoverInfo'})

In [ ]:
via=[]
for i in c:
    via1=[]
    k=str(i)
    via1.append(k[30:len(k)-4])
    via.append(via1)

In [ ]:
len(via)

In [ ]:
airline_info=soup.find_all('span',attrs={'class': 'boldFont blackText airlineName'})
airline=[]
for i,j in enumerate(d):
    k=str(j)
    airline.append(k[45:len(k)-7])

len(airline)

In [ ]:
s="<span class='boldFont blackText airlineName'>"
len(s)