In [1]:
import pandas as pd

In [10]:
df=pd.read_csv('./trainable_economy_data.csv')
import warnings
warnings.filterwarnings('ignore')

In [11]:
df.head()

,Unnamed: 0,Price,Cities,departure_time,arrival_time,Airline,Cabin,Dept_city,Dept_date,arrival_city,stops,duration,weekday,dept_hours,Dept_flights_time,optimal_hours
0,0,3112.0,"New Delhi to Mumbai , 01 Jun",14:30,20:20,AirAsia,E,New Delhi,1.0,Mumbai,1.0,350.0,5.0,14.0,Afternoon_flight,11.0
1,1,3113.0,"New Delhi to Mumbai , 01 Jun",16:55,21:10,Go Air,E,New Delhi,1.0,Mumbai,1.0,255.0,5.0,16.0,Evening_flight,13.0
2,2,3113.0,"New Delhi to Mumbai , 01 Jun",16:45,21:05,Go Air,E,New Delhi,1.0,Mumbai,1.0,260.0,5.0,16.0,Evening_flight,13.0
3,3,3113.0,"New Delhi to Mumbai , 01 Jun",07:55,13:00,Go Air,E,New Delhi,1.0,Mumbai,1.0,305.0,5.0,7.0,Morning_flight,4.0
4,4,3113.0,"New Delhi to Mumbai , 01 Jun",09:00,14:20,Go Air,E,New Delhi,1.0,Mumbai,1.0,320.0,5.0,9.0,Morning_flight,6.0

In [12]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)
df.columns

Index(['Price', 'Cities', 'departure_time', 'arrival_time', 'Airline', 'Cabin',
       'Dept_city', 'Dept_date', 'arrival_city', 'stops', 'duration',
       'weekday', 'dept_hours', 'Dept_flights_time', 'optimal_hours'],
      dtype='object')

In [13]:
df.head()

,Price,Cities,departure_time,arrival_time,Airline,Cabin,Dept_city,Dept_date,arrival_city,stops,duration,weekday,dept_hours,Dept_flights_time,optimal_hours
0,3112.0,"New Delhi to Mumbai , 01 Jun",14:30,20:20,AirAsia,E,New Delhi,1.0,Mumbai,1.0,350.0,5.0,14.0,Afternoon_flight,11.0
1,3113.0,"New Delhi to Mumbai , 01 Jun",16:55,21:10,Go Air,E,New Delhi,1.0,Mumbai,1.0,255.0,5.0,16.0,Evening_flight,13.0
2,3113.0,"New Delhi to Mumbai , 01 Jun",16:45,21:05,Go Air,E,New Delhi,1.0,Mumbai,1.0,260.0,5.0,16.0,Evening_flight,13.0
3,3113.0,"New Delhi to Mumbai , 01 Jun",07:55,13:00,Go Air,E,New Delhi,1.0,Mumbai,1.0,305.0,5.0,7.0,Morning_flight,4.0
4,3113.0,"New Delhi to Mumbai , 01 Jun",09:00,14:20,Go Air,E,New Delhi,1.0,Mumbai,1.0,320.0,5.0,9.0,Morning_flight,6.0

In [14]:
df.drop(columns=["Cities",'departure_time','arrival_time'],inplace=True,axis=1)

In [15]:
df.head()

,Price,Airline,Cabin,Dept_city,Dept_date,arrival_city,stops,duration,weekday,dept_hours,Dept_flights_time,optimal_hours
0,3112.0,AirAsia,E,New Delhi,1.0,Mumbai,1.0,350.0,5.0,14.0,Afternoon_flight,11.0
1,3113.0,Go Air,E,New Delhi,1.0,Mumbai,1.0,255.0,5.0,16.0,Evening_flight,13.0
2,3113.0,Go Air,E,New Delhi,1.0,Mumbai,1.0,260.0,5.0,16.0,Evening_flight,13.0
3,3113.0,Go Air,E,New Delhi,1.0,Mumbai,1.0,305.0,5.0,7.0,Morning_flight,4.0
4,3113.0,Go Air,E,New Delhi,1.0,Mumbai,1.0,320.0,5.0,9.0,Morning_flight,6.0

In [16]:
x=["Airline","arrival_city","Dept_city","Dept_flights_time","Cabin"]
from sklearn.preprocessing import LabelEncoder
encoders=[]
for i in x:
    encoder=LabelEncoder()
    df[i]=encoder.fit_transform(df[[i]])
    encoders.append(encoder)

In [17]:
df.head()

,Price,Airline,Cabin,Dept_city,Dept_date,arrival_city,stops,duration,weekday,dept_hours,Dept_flights_time,optimal_hours
0,3112.0,6,0,19,1.0,17,1.0,350.0,5.0,14.0,0,11.0
1,3113.0,12,0,19,1.0,17,1.0,255.0,5.0,16.0,1,13.0
2,3113.0,12,0,19,1.0,17,1.0,260.0,5.0,16.0,1,13.0
3,3113.0,12,0,19,1.0,17,1.0,305.0,5.0,7.0,2,4.0
4,3113.0,12,0,19,1.0,17,1.0,320.0,5.0,9.0,2,6.0

In [18]:
# x=df.drop(["Price","optimal_hours"],axis=1)
# y1=df["Price"]
# y2=df["optimal_hours"]

# import xgboost as xg
# from sklearn.model_selection import train_test_split
# x_train,x_test,y_train,y_test=train_test_split(x,y2,test_size=0.2,random_state=0)

# scale_cols=["Dept_date","duration","dept_hours"]

# from sklearn.preprocessing import MinMaxScaler
# mm=MinMaxScaler()
# def scale(train,test,cols):
#   mm.fit(train[cols].values.reshape(-1,1))
#   train[cols]=mm.transform(train[cols].values.reshape(-1,1))
#   test[cols]=mm.transform(test[cols].values.reshape(-1,1))
  
#   return train[cols] ,test[cols]

# for i in scale_cols:
#   x_train[i],x_test[i]=scale(x_train,x_test,i) 


# from sklearn.ensemble import RandomForestRegressor
# from sklearn.model_selection import RandomizedSearchCV
# params={'max_depth':[5,10,15,20,50],
#         'min_samples_split':[2,3,5,10]}
# rfg_time=RandomForestRegressor(n_estimators=100)
# cv_time=RandomizedSearchCV(rfg_time,params,cv=5,n_jobs=-1,verbose=2)
# cv_time.fit(x_train,y_train)

In [20]:
x=df.drop(["Price","optimal_hours"],axis=1)
y1=df["Price"]
y2=df["optimal_hours"]

import xgboost as xg
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y2,test_size=0.2,random_state=0)

scale_cols=["Dept_date","duration","dept_hours"]

from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler()
def scale(train,test,cols):
    mm.fit(train[cols].values.reshape(-1,1))
    train[cols]=mm.transform(train[cols].values.reshape(-1,1))
    test[cols]=mm.transform(test[cols].values.reshape(-1,1))

    return train[cols] ,test[cols]

for i in scale_cols:
    x_train[i],x_test[i]=scale(x_train,x_test,i) 


from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
params={'max_depth':[5,10,15,20,50],
        'min_samples_split':[2,3,5,10]}
rfg_time=RandomForestClassifier(n_estimators=50)
cv_time=RandomizedSearchCV(rfg_time,params,cv=5,n_jobs=-1,verbose=2)
cv_time.fit(x_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  4.9min finished

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(n_estimators=50),
                   n_jobs=-1,
                   param_distributions={'max_depth': [5, 10, 15, 20, 50],
                                        'min_samples_split': [2, 3, 5, 10]},
                   verbose=2)

In [22]:
print(cv_time.best_params_)
model_time=cv_time.best_estimator_
model_time.fit(x_train,y_train)

pred = model_time.predict(x_test)

from sklearn.metrics import classification_report

print(classification_report(y_test,pred))

xxx = pd.DataFrame({'Actual time': y_test, 'Predicted time': pred})
xxx.head(5)

{'min_samples_split': 2, 'max_depth': 50}
              precision    recall  f1-score   support

         0.0       0.86      0.85      0.86      2233
         1.0       0.88      0.86      0.87      1908
         2.0       0.87      0.87      0.87      1750
         3.0       0.87      0.88      0.88      1701
         4.0       0.86      0.87      0.87      1500
         5.0       0.86      0.86      0.86      1449
         6.0       0.86      0.87      0.86      1443
         7.0       0.87      0.88      0.87      1598
         8.0       0.88      0.89      0.88      1769
         9.0       0.88      0.87      0.88      1950
        10.0       0.86      0.89      0.87      1998
        11.0       0.86      0.87      0.86      2087
        12.0       0.87      0.88      0.87      2267
        13.0       0.87      0.88      0.88      2429
        14.0       0.87      0.86      0.87      2320
        15.0       0.88      0.88      0.88      2517
        16.0       0.86      0.87      0.86      2546
        17.0       0.87      0.87      0.87      2490
        18.0       0.85      0.84      0.85      2506
        19.0       0.86      0.84      0.85      2553
        20.0       0.87      0.88      0.87      2660
        21.0       0.86      0.85      0.86      2549
        22.0       0.86      0.85      0.86      2593
        23.0       0.84      0.84      0.84      2190

    accuracy                           0.87     51006
   macro avg       0.87      0.87      0.87     51006
weighted avg       0.87      0.87      0.87     51006

        Actual time  Predicted time
167147          4.0             4.0
220597         11.0            11.0
104524         20.0            20.0
15301          12.0            12.0
53840           8.0             9.0

In [23]:
# price
x=df.drop(["Price","dept_hours"],axis=1)
y1=df["Price"]


from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y1,test_size=0.2,random_state=0)

scale_cols=["Dept_date","duration","optimal_hours"]

from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler()
def scale(train,test,cols):
    mm.fit(train[cols].values.reshape(-1,1))
    train[cols]=mm.transform(train[cols].values.reshape(-1,1))
    test[cols]=mm.transform(test[cols].values.reshape(-1,1))

    return train[cols] ,test[cols]

for i in scale_cols:
    x_train[i],x_test[i]=scale(x_train,x_test,i) 

from sklearn.ensemble import RandomForestRegressor
params={'max_depth':[5,10,15,20,50],
        'min_samples_split':[2,3,5,10]}
rfg_price=RandomForestRegressor(n_estimators=50)
cv_price=RandomizedSearchCV(rfg_price,params,cv=5,n_jobs=-1,verbose=2)
cv_price.fit(x_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed: 10.3min finished

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(n_estimators=50),
                   n_jobs=-1,
                   param_distributions={'max_depth': [5, 10, 15, 20, 50],
                                        'min_samples_split': [2, 3, 5, 10]},
                   verbose=2)

In [26]:
print(cv_price.best_params_)
model_price=cv_price.best_estimator_
model_price.fit(x_train,y_train)

pred = model_price.predict(x_test)
from sklearn.metrics import mean_squared_error as mse , r2_score
from math import sqrt
rms = sqrt(mse(y_test, pred))
score = r2_score(y_test, pred)
print(rms)
print(score)

xxx = pd.DataFrame({'Actual price': y_test, 'Predicted price': pred})
xxx.head(5)

{'min_samples_split': 3, 'max_depth': 50}
590.9921161516635
0.9563814052373257

        Actual price  Predicted price
167147       10939.0     10939.000000
220597        7631.0      7959.188333
104524        7307.0      7307.000000
15301         6040.0      5407.414000
53840         4175.0      4306.361333